@import "tailwindcss";

:root {
  /* Default to dark theme variables */
  --background-start-rgb: 10, 10, 10; /* Darker base background */
  --background-end-rgb: 0, 0, 0;
  --foreground-rgb: 249, 250, 251; /* Equivalent to gray-50 */

  --background: rgb(var(--background-start-rgb));
  --foreground: rgb(var(--foreground-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Fallback solid color */
  cursor: none; /* Hide the default cursor */
}

button, a {
  cursor: none;
}

.image-container {
  cursor: none;
}